article id="presentation"
  section
    markdown:
      # Miksi Rails?

      ### Käytä näppäimistön ⬅️ & ➡️ painikkeita
  section
    markdown:
      # Ruby

      ### Ruby on dynaaminen avoimen lähdekoodin ohjelmointikieli joka keskittyy **yksinkertaisuuteen ja tuottavuuteen.**

      ### Rubyä on luonnollista kirjoittaa ja helppoa lukea.
  section
    markdown:
      # Ruby on Rails

      ### Ruby on Rails on avoimeen lähdekoodiin perustuva ohjelmistokehys, jonka pääpaino on tuottavuuden ja ylläpidettävyyden maksimoinnissa.
  section
    markdown:
      ### Rails erottuu lähinnä tarvittavan ohjelmakoodin pienestä määrästä ja konfigurointitarpeen puutteesta.

      ### Esimerkiksi sähköpostiviestin lähettäminen käyttäjälle on yleinen tehtävä, joten se luontevasti onnistuu Railsilla yhdellä koodirivillä
  section
    markdown:
      # Kehittynyt testauskulttuuri

      ### Railsin ympärille kehittyneet testaustyökalut ovat todella edistyksellisiä. Railsin avulla on helppo seurata moderneita testauskäytäntöjä.
  section
    markdown:
      # Onnellisemmat kehittäjät

      ### Yhdet Ruby ohjelmointikielen peruskulmakiviä ovat ohjelmoijan onnellisuus sekä tehokkuus. Vaikka Ruby ei kielenä ole kaikista tehokkain, on se silti yksi miellyttävimmistä käyttää.

      ### Kehittäjän aika on usein arvokkaampaa kuin teoreettisesti nopeammalla kielellä saatavat hyödyt.
  section
    markdown:
      # Ruby on Rails ❤️ webbiä

      ### Kehittäjät jotka ovat kokeneita Ruby on Rails ohjelmistokehyksen käytössä ovat useimmiten myös hyvin perillä verkkosovellusten kehittämisestä.
  section
    markdown:
      # Entä tuki?

      ### Kenelle soitamme jos tarvitsemme tukea, eikö valmis tuote olisi parempi kuin avoin lähdekoodi?

      ### Aikaisemmin oli yleistä että valmis tuote valittiin juuri tuen vuoksi. Nykyään on kuitenkin yleistä että suuretkin yritykset käyttävät avointa lähdekoodia. Lisäksi sovelluksesi perusarkkitehtuuria ja tietoturvaa kehittävät kymmenet asiantuntijat avoimesti ympäri maailmaa.
  section
    markdown:
      # 89 vaihtoehtoa

      ### Suomessa on tällä hetkellä ainakin 89 Railsia käyttävää yritystä ja kymmeniä Rails kehitystä tekevää yritystä. Syy tai seuraus: Yli 80% Railsia käyttävistä suomalaisista yrityksistä tekee voittoa.
  section
    = image_tag "top-it-skill-by-country.jpg"
  section
    markdown:
      # 10 vuotta

      ### Rails on ollut olemassa ja sitä on kehitetty jo 10 vuotta. Teknologian maailmassa tämä on pitkä aika.

      ### Kyse ei siis ole teknologiasta joka olisi menossa pois ja katoamassa. Vaikka 2016 web teknologioissa on myös valinnanvaraa, silti Ruby on Rails on edelleen korkealla suosituimpien joukossa.
  section
    markdown:
      # Hyvässä seurassa

      ### Railsia käyttävät mm _Basecamp, Twitch, Soundcloud, Zendesk, Github, Airbnb, Hulu, Square, Shopify, Twitter, Siemens, Oracle, IBM, NASA_
  section
    markdown:
      # Hyvä ekosysteemi

      ### Rubylle löytyy kymmeniätuhansia hyvälaatuisia kirjastoja, joilla kehittäjä voi nopeasti tuoda sovellukseen ominaisuuksia kuten esimerkiksi: ostoskori, kirjautuminen, Facebook -integraatio, PDF-luonti, Excel tiedon lukeminen ja kirjoittaminen…
  section
    markdown:
      # RubyGems

      ### RubyGems on turvallinen ja tehokas tapa jakaa Ruby -kirjastoja, jotta kehittäjät voivat helposti hyödyntää jo valmista lähdekoodia sovellusten bisneslogiikan tuottamiseen.
  section
    markdown:
      # Paljon materiaalia aloittelijoille

      ### Verkossa on laajat kokoelmat opetusvideoita, aktiivisia blogeja sekä ammattimaisesti tuotettuja online-kursseja Rubyn ja Railsin opiskeluun.
  section
    markdown:
      # Tehokas

      ### Kaikki yleiset työkalut integroituna pakettina. Ruby, Rails ja RubyGems:in kattava kirjasto kokoelma riittävät usein tukemaan koko sovelluksen tarpeet ja muita teknologioita ei tarvita.
  section
    markdown:
      # Sopii kaikkeen käyttöön

      ### Tarjoaa perusjutut, mutta ei tarvitse puukottaa pois asioita joita ei sovi. Täydellinen kultainen keskitie olemassaolevan käyttämisen ja nollasta rakentamisen välillä.
  section
    markdown:
      # Kehittäjäyhteisö

      ### Railsin kehitykseen on osallistunut **4200** kehittäjää ympäri maailman, siksi sen kehitys on nopeaa ja aina reagoinut uusiin tietoturva uhkiin.
