//
// Font size
html {
  font-size: 133%; /* Used if browser doesn't support calc() */
  font-size: calc(1em + 0.4vw + 0.4vh + 0.2vmin);
}
// Set body fize to something sane
body { line-height: 1rem; font-size: 0.75rem; }


//
// Font-family
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
