
.header {
  max-width: 100%;
  height: 300px;
  background: #cc0000;
  background: -moz-linear-gradient(top,  #cc0000 0%, #b70000 100%);
  background: -webkit-linear-gradient(top,  #cc0000 0%,#b70000 100%);
  background: linear-gradient(to bottom,  #cc0000 0%,#b70000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#b70000',GradientType=0 );
}
.content {
  max-width: 1050px;
  margin: 0 auto;
  ul li {
    margin: 0.5rem 0;
    &:hover {
      color: darken($color-1, 20%);
    }
  }
}
