.section-welcome {
  margin: 0;
  height: 80vh;
  background: #cc0000;
  background: -moz-linear-gradient(top,  #cc0000 0%, #b20000 100%);
  background: -webkit-linear-gradient(top,  #cc0000 0%,#b20000 100%);
  background: linear-gradient(to bottom,  #cc0000 0%,#b20000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#b20000',GradientType=0 );
  z-index: 1;
  .welcome {
    max-width: 900px;
    width: 100%;
    height: auto;

    .logo img {
      max-width: 300px;
      height: auto;
    }

    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;
  }

  @-webkit-keyframes welcome {
    from {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    50% {
     -webkit-transform: scale(0);
     opacity: 0;
    }
    82.5% {
      -webkit-transform: scale(1.03);
      -webkit-animation-timing-function: ease-out;
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1);
    }
  }
}

.section-container {
  width: 1080px;
  margin: 0 auto;

}

.bg-rails {
  background-image: url('~/images/raiteet.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.section {

  width: 50%;

  min-width: 280px;
  padding: 1em;

  @include mq(m,l) {
    width: 100%;
  }
  .title {
    max-width: 768px;
    padding: 0.25rem 0;
    text-align: center;
    margin: 0 auto;
  }
  p{


      margin: 0.5rem 0.25rem;
  }
  .image-wrapper {
    max-width: 480px;
    width: 100%;
    text-align: center;
  }
}
