.section-welcome {
  margin: 0;
  height: 80vh;
  background: #cc0000;
  background: -moz-linear-gradient(top,  #cc0000 0%, #b70000 100%);
  background: -webkit-linear-gradient(top,  #cc0000 0%,#b70000 100%);
  background: linear-gradient(to bottom,  #cc0000 0%,#b70000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#b70000',GradientType=0 );
  z-index: 1;
  .welcome {
    max-width: 900px;
    width: 100%;
    height: auto;

    .logo img {
      max-width: 300px;
      height: auto;
    }

    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;
  }

  @-webkit-keyframes welcome {
    from {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    50% {
     -webkit-transform: scale(0);
     opacity: 0;
    }
    82.5% {
      -webkit-transform: scale(1.03);
      -webkit-animation-timing-function: ease-out;
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1);
    }
  }
}

.section {
  width: 100%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  .title {
    max-width: 768px;
    padding: 0.5rem 0;
    color: $color-1;
    border-top: 2px solid $color-1;
    border-bottom: 2px solid $color-1;
    text-align: center;
    margin: 0 auto;
  }
  .section-content {
    max-width: 900px;

    h1 {
      width: 100vw;
    }
    p{
      font-family: Garamond,Times New Roman,serif;
      margin: 0.5rem 0.25rem;
    }
  }
  .image-wrapper {
    max-width: 480px;
    width: 100%;
    text-align: center;
  }
}
